<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">2015SIEtf</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost/tim9</property>
  <property name="hibernate.connection.username">EtfSI2015</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.hbm2ddl.auto">update</property>
  <mapping class="app.vrtic.modeli.Aktivnost"/>
  <mapping class="app.vrtic.modeli.Aktivnostidjeca"/>
  <mapping class="app.vrtic.modeli.AktivnostidjecaId"/>
  <mapping class="app.vrtic.modeli.Dijete"/>
  <mapping class="app.vrtic.modeli.Grupa"/>
  <mapping class="app.vrtic.modeli.Korisnik"/>
  <mapping class="app.vrtic.modeli.Termin"/>
  <mapping class="app.vrtic.modeli.Uplata"/>
  <mapping class="app.vrtic.modeli.Vaspitac"/>
  <mapping class="app.vrtic.modeli.Zaduzenja"/>
 </session-factory>
</hibernate-configuration>
