<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.hbm2ddl.auto">update</property>
  <mapping class="app.vrtic.Model.Zaduzenja"/>
  <mapping class="app.vrtic.Model.Vaspitac"/>
  <mapping class="app.vrtic.Model.Uplata"/>
  <mapping class="app.vrtic.Model.Termin"/>
  <mapping class="app.vrtic.Model.Korisnik"/>
  <mapping class="app.vrtic.Model.Grupa"/>
  <mapping class="app.vrtic.Model.Dijete"/>
  <mapping class="app.vrtic.Model.Aktivnost"/>
  <mapping class="app.vrtic.Model.Aktivnostidjeca"/>
  <mapping class="app.vrtic.Model.AktivnostidjecaId"/>
 </session-factory>
</hibernate-configuration>
